* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
}
#header {
  height: 10vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  display: flex;
}
#FakeHeader {
  height: 10vh;
  width: 100vw;
  background-color: bisque;
}
#UpdateHeading {
  height: 6vh;
  width: 100vw;
  color: white;
  background-color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pages {
  height: 90vh;
  width: 100vw;
}
#page1 {
  background-color: aqua;
}
#page2 {
  background-color: burlywood;
}
/* #page3 {
  background-color: navy;
  } */

#logo img {
  height: 100%;
  width: 100%;
  padding: 10px;
  object-fit: cover;
}
.texts {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(1, 1, 148);
  margin: 10px;
  padding-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texts:hover {
  color: rgb(14, 177, 177);
  font-weight: bold;
}

#contactDetails {
  margin-left: 12%;
  margin-top: 5px;
  margin-bottom: 5px;

  border: 2px solid black;
  border-radius: 25px;

  padding: 15px;
  padding-left: 25px;

  color: rgb(1, 1, 148);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#contactDetails:hover {
  background-color: rgb(4, 100, 100);
  color: rgb(9, 208, 208);
  font-weight: bold;
}

.icons {
  height: 45px;
  width: 45px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-radius: 50%;
}

.icons:hover {
  background-color: #e8f3ff;
  color: #0176d3;
}

.login {
  display: flex;
  align-items: center;

  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  gap: 6px;
  padding: 6px;
  font-size: 18px;

  cursor: pointer;
  border-radius: 15%;
}

.login i {
  font-size: 28px;
}
.login:hover {
  background-color: #e8f3ff;
  color: #0176d3;
}

#try {
  margin-left: 3%;
  margin-top: 5px;
  margin-bottom: 5px;

  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: white;

  border: 2px solid darkgreen;
  border-radius: 25px;
}

#try:hover {
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgreen;
  color: darkgreen;
  border: 2px solid darkgreen;
  border-radius: 25px;
}
