* {
  margin: 0%;
  padding: 0%;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

.shapes {
  height: 430px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#Card1 {
  z-index: 4;
  transform: translate(-50%, -50%) rotate(0deg);
}
#Card2 {
  z-index: 3;
  transform: translate(-50%, -50%) rotate(-10deg);
}
#Card3 {
  z-index: 2;
  transform: translate(-50%, -50%) rotate(-20deg);
}
#Card4 {
  z-index: 1;
  transform: translate(-50%, -50%) rotate(-30deg);

}
/* #main .shapes:hover {
  z-index: 5;
} */

.shapes:hover {
  z-index: 5 !important;
}

/* #Card1:hover {
  z-index: 5;
}
#Card2:hover {
  z-index: 5;
}
#Card3:hover {
  z-index: 5;
}
#Card4:hover {
  z-index: 5;
} */

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}