* {
  margin: 0%;
  padding: 0%;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shapes {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

#diamond {
  rotate: 45deg;
  margin-top: 60px;
}
#diamond h1 {
  rotate: -45deg;
}
#circle {
  border-radius: 50%;
}
h1 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

#square:hover{
  background-color: red;
}

#diamond:hover{
  background-color: green;
}

#circle:hover{
  background-color: blue;
}